.container {
    margin-top: 150px;
}

.short_pad_top {
    margin-top: 60px;
}

.center75text {
	text-align: center;
    line-height: 80px;
    line-height: 8.0rem;
    font-size: 75px;
    font-size: 7.5rem
}

.fit-width {
	width: 100%;
	object-fit: contain;
}